<div class="present-detail-card-container">
  <h3>Description</h3>
  <div class="line"></div>
  <p class="description">{{description}}</p>
  <h3>Price</h3>
  <div class="line"></div>
  <p class="price">{{price}} €</p>
  <h3>Season</h3>
  <div class="line"></div>
  <p class="season">{{toUpperCase season}}</p>
</div>
