<div class="present-card-container">
  <div class = "present-card-title-container">
    <h4 class="present-card-title"> {{name}}</h4>
  </div>
  <img class="present-card-image" src={{image}} alt={{name}}>
</div>