<div class="present-detail-card-container">
  <p class="description">{{description}}</p>
  <p class="price">{{price}}</p>
  <p class="season">{{toUpperCase season}}</p>
  <button class="present-card-button"><a href="/presents">Back</a></button>
</div>