<div class="main-title-all-presents-container">
  <form class="form-box-recipient" method="GET" action="/presents/search">
    <input class="input-recipient" type="text" name="recipient" placeholder="Find gåva by recipient" required />
    <button class="search-recipient" type="submit">Search</button>
  </form>
  <h2 class = "main-title-all-presents"> All gåva! </h2>
</div>
<div class="all-presents-container">
  {{#each presents}}
    {{>cardCardPresentsAndButtons}}
  {{/each}}
</div>