<section class="present-detail-container">
  <div class="image-title-detail">
    {{> cardPresents this}}
  </div>
  <div class="info-detail">
    {{> cardDetailPresent this}}
  </div>
</section>
<div class="button-back">
  <button class="present-card-button"><a href="/presents">Back</a></button>
</div>
