<p> You have this presents for {{toUpperCase query}} </p>
{{#each present}}
{{#if this}}
<div class="search-present">
  {{>cardPresents this}}
</div>
  {{else}}
  <p>Sorry, no presents found by {{query}}. Try again: <a href="/presents">go back to presents</a></p>
{{/if}}
{{/each}}
<div class="button-back">
  <button class="present-card-button"><a href="/presents">Back</a></button>
</div>